* {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

.header, .hero, .footer {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  padding: 0 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  gap: 24px;
}

.hero {
  display: flex;
  gap: 48px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-text, .hero-image {
  flex: 1;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

.hero-text p {
  margin-top: 0;
}

.hero-image {
  height: auto;
  width: auto;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 6px;
  padding: 5px 35px;
}

.info, .quote {
  padding: 0 23%;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 0;
  padding: 42px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 120px;
}

.info-card {
  text-align: center;
  color: #1f2937;
}

.info-card object {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
  border: 5px solid #3882f6;
  border-radius: 12px;
}

.info-card p {
  margin: 0;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote p:first-child {
  margin-bottom: 0;
}

.quote p:last-child {
  text-align: right;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  margin-top: 0;
}

.sign-up {
  display: flex;
  margin: 100px 15%;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 6px;
}

.sign-up-left {
  flex: 2;
  padding: 30px 5%;
}

.sign-up-left h4 {
  margin: 0;
}

.sign-up-left p {
  margin: 0;
}

.sign-up-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-right .submit {
  border-color: #f9faf8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}